/*//-----------------------------------------
// NAME: Quoc Le
// Email: quocleth@gmail.com
// Phone: (204) 915-6184
// **** Sunova Coding Challenge - Software Developer position ****
//
// REMARKS: Implement a a table using JavaScript to retrieve the data (XML) from Sunova server
//					- Sort every column by ascending and descending order.
//					- Search and filter every column in the search box.
//-----------------------------------------
*/

h1{
	text-align: center;
	font-size: 25px;
	margin-top: 10px;
}

body{
 	background-color: lightblue;
 	margin: auto;
}

#buttons{
 	text-align: center;
}

#choose{
 	margin-left: 5px;
}

#search{
	background-image: url('https://img.icons8.com/material-rounded/24/000000/search.png');
	background-position: 5px 5px;
	background-size: 22px;
	background-repeat: no-repeat;
	width: 320px;
	height: 30px;
	margin-left: 5px;
	padding: 12px 20px 12px 40px;
	border: 1px solid;
}

.container{
	text-align: center;
	margin-top: 30px;
}

.footer{
	margin-bottom: 0;
	text-align: center;
	text-decoration: underline;
}

.hidden { display:none; }
